@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.outline-button {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.button-white {
  border: 1px solid white;
  color: white;
}
.button-lilac {
  border: 1px solid #8980c2;
  color: #8980c2;
}

/* Header component */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1.25rem;
}

#brand {
  width: 50%;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav a {
  font-family: Lato, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  color: #888;
}

/* Hero component */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8980c2 url(images/zebra-hero.jpg) 33% no-repeat;
  background-size: cover;
  padding: 2rem 0;
}

#hero h1,
#hero a {
  color: white;
}

#hero h1 {
  font-family: "Bree Serif", "Times New Roman", Times, serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 1rem 0;
}

#hero a {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

#hero img {
  width: 66%;
  border-radius: 50%;
}

/* Main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bree Serif", "Times New Roman", Times, serif;
}

main h2 {
  margin: 1rem 0 0;
}

main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

main article img {
  width: 75%;
  border-radius: 50%;
  border: 4px solid #8980c2;
}

main article h3 {
  margin: 1rem 0;
  font-weight: normal;
  font-size: 1.5rem;
}

main article p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
